# Node.js
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# React
build/
dist/
.eslintcache

# Environment and Secrets
.env
.env.local
.env.*.local

# Logs and temporary files
*.log
*.pid
*.seed
*.csv
*.sqlite
coverage/

# Docker
Dockerfile*
docker-compose*

# Git
.git
.gitignore

# OS-specific files
.DS_Store
Thumbs.db
